[submodule "npc/VerilogVisualization"]
	path = npc/VerilogVisualization
	url = git@github.com:yamato720/VerilogVisualization.git
	branch = main
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:yamato720/am-kernels.git
	branch = fpga-sdb
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:yamato720/fceux-am.git
	branch = master
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:yamato720/nvboard.git
	branch = master
[submodule "ysyxSoC"]
	path = npc/chisel/ysyxSoC
	url = git@github.com:yamato720/ysyxSoC.git
	branch = fpga-sdb
[submodule "ResearchProject"]
	path = ResearchProject
	url = git@github.com:yamato720/ResearchProject.git
	branch = main
[submodule "eda/ecc"]
	path = eda/ecc
	url = git@github.com:yamato720/ecc.git
	branch = main
[submodule "eda/icsprout55-pdk"]
	path = eda/icsprout55-pdk
	url = git@github.com:yamato720/icsprout55-pdk.git
	branch = main
[submodule "eda/oss-cad-suite-build"]
	path = eda/oss-cad-suite-build
	url = git@github.com:yamato720/oss-cad-suite-build.git
	branch = main
