[submodule "npc/VerilogVisualization"]
	path = npc/VerilogVisualization
	url = git@github.com:yamato720/VerilogVisualization.git
	branch = 2.1
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:yamato720/am-kernels.git
	branch = ics2021
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:yamato720/fceux-am.git
	branch = ics2021
[submodule "nvboard"]
	path = nvboard
	url = git@github.com:yamato720/nvboard.git
	branch = master
[submodule "ysyxSoC"]
	path = ysyxSoC
	url = git@github.com:yamato720/ysyxSoC.git