CONFIG_ISA_riscv=y
CONFIG_RV64=y
# CONFIG_TRACE is not set
# CONFIG_NPC_VCD_TRACE is not set
# CONFIG_NPC_DIFFTEST_NEMU is not set
# CONFIG_DIFFTEST is not set
CONFIG_RISCV_F=y
CONFIG_TARGET_NATIVE_ELF=y
CONFIG_FPGA_BACKEND_ZCU102=y
CONFIG_WATCHPOINT=y
