*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cc
!.gitignore
!README.md
!Kconfig
!src/isa/riscv64
!configs/riscv32-nemu-interpreter-defconfig
!configs/riscv64-nemu-interpreter-defconfig
!configs/riscv32-fpga-zcu102-defconfig
!configs/riscv32-fpga-u55c-defconfig
!configs/riscv64-fpga-zcu102-defconfig
!configs/riscv64-fpga-u55c-defconfig
!tests/run-pipeline-html-test.sh
!tests/run-performance-html-test.sh
!tests/run-fpga-runtime-test.sh
include/config
include/generated

# Interpreter builds contain generated C headers.
/build/
