!*/
!README.md
!.gitignore
!Makefile
!docs/*.md
!rtl/*.md
!rtl/*.sv
!chisel/
!chisel/src/
!chisel/src/main/
!chisel/src/main/scala/
!chisel/src/main/scala/*.scala
!vivado/*.md
!vivado/*.tcl
!constraints/*.md
!constraints/*.xdc
!sw/*.md
!sw/include/
!sw/include/*.h
!sw/src/
!sw/src/*.c
!sw/examples/
!sw/examples/*.c
