!*/
!README.md
!.gitignore
!Makefile
!tools/
!tools/*.py
!docs/*.md
!rtl/*.md
!rtl/*.sv
!chisel/
!chisel/src/
!chisel/src/main/
!chisel/src/main/scala/
!chisel/src/main/scala/*.scala
!vivado/*.md
!vivado/*.tcl
!constraints/*.md
!constraints/*.xdc
!include/
!include/*.h
!include/riscv32/
!include/riscv32/generated/
!include/riscv32/generated/autoconf.h
!include/riscv64/
!include/riscv64/generated/
!include/riscv64/generated/autoconf.h
!nemu-src/
!nemu-src/README.md
!nemu-src/nemu
!nemu-src/abstract-machine
!nemu-src/am-kernels
!nemu-src/navy-apps
!nemu-src/nanos-lite
!sw/*.md
!sw/include/
!sw/include/*.h
!sw/src/
!sw/src/*.c
!sw/examples/
!sw/examples/*.c
