*.*
*
!*/

# Ignore build artifact and generated directories
target/
generated-dpi/
intermediate/
out/
.idea/

# Whitelist tracked file types
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.cc
!*.cpp
!*.scala
!*.sbt
!.gitignore
!*.md
